
<div class="sidebar-wrapper">
  <div class="logo">

    <a class="simple-text logo-mini">
      <div class="logo-image-small">
        <!-- <img src="../../assets/img/logo.png"> -->
      </div>
    </a>
    <a class="simple-text logo-normal">

    </a>
  </div>
    <ul class="nav">
        <!-- <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li> -->
        <div class="row ml-3 mt-4" routerLink="/home" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/preview-02.png" class="menu-img">
          </div>
          <div class="col-md-4 col-4">
            Home
          </div>
        </div>
        <div class="row ml-3 mt-5" routerLink="/my-event" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send-video-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            My events          </div>
        </div>
        <div class="row ml-3 mt-5" routerLink="/list-gift-vouchers" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/send_gift.png" class="menu-img">
          </div>
          <div class="col-md-9 col-9">
            Gift or vouchers
          </div>
        </div>

        <div class="row ml-3 mt-5" routerLink="/users" style="cursor: pointer;">
          <div class="col-md-3 col-3">
            <img src="./assets/img/join-chat-02.png" class="menu-img">
          </div>
          <div class="col-md-9 col-7">
            Join Chat
          </div>
        </div>

    </ul>
</div>
