.sign-up-btn{
  margin: 0px 184px 0px 0px;
  width: 180px;
  font-size: 15px;
  height: 49px;
  text-transform: none;
  background-color: #d9117d;
  border-color: #d9117d;
  color: white;
  font-weight: 700;

}
.event-card{
  padding: 50px 50px 50px 50px;
}
.card-desk{
  box-shadow: 0px 2px 4px 0px rgb(110 123 131);
}
.event-card-mob{
  padding: 12px 4px 3px 14px;
}
.info-icon{
  padding: 12px 0px 0px 0px;
}
.info-mob{
  float: right;
  padding: 4px 8px 0px 0px;
}
.field-icon-left {
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  position: relative;
  z-index: 2;
}
.card-mob{
  border-radius: 10px
}
.payed-modal {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.payed-modal.show {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}
.payed-modal .modal-dialog {
  max-width: 50%;
}
.payed-modal .modal-content {
  border-radius: 0;
  /* max-height: 300px; */
  overflow: auto;
  border-radius: 10px;
  background-color: #151a2e;
}
.payed-modal .modal-body {
  padding: 30px 30px;
}
.payd-msg{
  display: block;
}
.payd-msg{
  color:#fff;
}
.btn-close1{
  background-color: #fff !important;
  color:#c3313e;
  z-index: 99999;
  box-shadow: 1px 1px 6px rgba(0,0,0,.34);
  border-radius: 40px;
  margin:20px 20px 0px 0px;
  opacity: 1;
  width:40px;
  height: 40px;
  text-align: center;
}
.evntmodal-hd{
  color: white;
  font-size: 20px;
  padding: 25px 0px 0px 25px;

}
.brdr-clr{
  border-color: white;
  background-color: #151a2e;
  color: white;
  height: 38px;
  width: 220px;

}
@media screen and (max-width: 991px) {
.mob-hide{
  display: none;
}
}
@media screen and (min-width: 991px) {
.desk-hide{
  display: none;
}
}
@media only screen and (max-width: 991px) {
  .payed-modal .modal-dialog {
    max-width: 60%;
  }
  .payd-msg p{
  font-size:14px;
}
.g-height{
  height: auto;
  padding: 5px 13px;
}
}

@media only screen and (max-width: 767px) {
  .payed-modal .modal-dialog {
    max-width: 70%;
  }
  .hide-menu-mob{
    display: none;
  }
  .d-icons-mob{
    position: absolute;
    bottom: 0%;
    right: 9%;
    width: 83%;

  }
  .tmp-image{
    width: 100% !important;
    height: 30vh !important;
  }
}
@media only screen and (max-width: 600px) {
  .payed-modal .modal-dialog {
    max-width: 100%;
  }
}
.header-fix{
  z-index:9999 !important ;
position: fixed !important;
width: 100% !important;
top: 0;
}
.menu-img{
height: 23px;
  width: 30px;
}
