  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
   <div class="row">
     <div class="col-lg-4 left-sect ">
       <div class="signup-card">
        <form [formGroup]="signupForm">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" >
                <div class=" card-user">
                  <div class="card-body signup-card">
                    <h3 class="signup-head">Sign Up</h3>
                      <div class="row div-box">
                        <div class="col-md-6 pr-1 ">
                          <div class="form-group">
                            <label class="signup-label text-muted">Name </label>
                             <input type="text" class="form-control input-borderclr inpt-padding" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && paymntfrm.name.errors }">
                             <span toggle="#password-field" class="fa fa-fw fa-pencil fa-xs field-icon-left toggle-password fa-icon-size"></span>

                             <div *ngIf="submitted && paymntfrm.name.errors" class="invalid-feedback">
                              <div *ngIf="paymntfrm.name.errors.required">This field is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pr-1">
                          <div class="form-group">
                            <label class="signup-label text-muted">Email Address</label>
                            <input type="text" class="form-control input-borderclr inpt-padding" placeholder="Email" [email]="true" value=""formControlName="email" [ngClass]="{ 'is-invalid': submitted && paymntfrm.email.errors }">
                            <span toggle="#password-field" class="fa fa-fw fa-envelope  field-icon-left toggle-password fa-icon-size"></span>
                            <div *ngIf="submitted && paymntfrm.email.errors" class="invalid-feedback">
                              <div *ngIf="paymntfrm.email.errors.required">This field is required</div>
                              <div *ngIf="paymntfrm.email.errors.pattern">Please, Enter valid email.</div>

                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row div-box">
                        <div class="col-md-6 col-lg-6 col-12 pr-1 ">
                          <div class="form-group">
                            <label class="signup-label text-muted">Phone Number</label>
                            <br>
                            <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                            [phoneValidation]="true" [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone" >
                          </ngx-intl-tel-input>
                            <div *ngIf="signupForm.value.phone==null && submitted">
                              <div style="color: #dc3545;font-size: 80%;">This field is required</div>
                          </div>
                          </div>
                        </div>
                        <div class="col-md-6
                        ">
                          <div class="form-group">
                            <label class="signup-label text-muted">Address</label>
                            <input type="text" class="form-control input-borderclr inpt-padding address-width" placeholder="Address" value=""formControlName="address" [ngClass]="{ 'is-invalid': submitted && paymntfrm.address.errors }">
                            <span toggle="#password-field" class="fa fa-fw fa-location-arrow field-icon-left toggle-password"></span>
                            <div *ngIf="submitted && paymntfrm.address.errors" class="invalid-feedback">
                              <div *ngIf="paymntfrm.address.errors.required">This field is required</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row div-box">
                        <div class="col-md-6 pr-1 ">
                          <div class="form-group">
                            <label class="signup-label text-muted">Password </label>
                            <input type="{{showPassword ? 'text' : 'password' }}"  class="form-control input-borderclr inpt-padding" placeholder="password" value=""formControlName="password" [ngClass]="{ 'is-invalid': submitted && paymntfrm.password.errors }">
                            <span toggle="#password-field" (click)="togglePassword()"  class="fa fa-fw fa-eye field-icon-left toggle-password fa-icon-size {{showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></span>

                             <div *ngIf="submitted && paymntfrm.password.errors" class="invalid-feedback">
                              <div *ngIf="paymntfrm.password.errors.required">This field is required</div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 pr-1">
                          <div class="form-group">
                            <label class="signup-label text-muted">Retype Password</label>
                            <input  type="{{showPasswordRetype ? 'text' : 'password' }}" class="form-control input-borderclr inpt-padding" (input)="checkPassword()" placeholder="Password" value=""formControlName="retype_password" [ngClass]="{ 'is-invalid': submitted && paymntfrm.retype_password.errors }">
                            <span toggle="#password-field"  (click)="toggleRetypePassword()" class="fa fa-fw fa-eye field-icon-left toggle-password fa-icon-size {{showPasswordRetype ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></span>
                            <div *ngIf="submitted && paymntfrm.retype_password.errors" class="invalid-feedback">
                              <div *ngIf="paymntfrm.retype_password.errors.required">This field is required</div>
                            </div>
                              <span style="color: #dc3545;" *ngIf="passwordcheck == true">Incorrect password</span>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12 col-md-12 mx-auto">
                          <p *ngIf="duplicatemailorphone" style="color: #dc3545;text-align: center;font-size: 14px;" >Phone number or Email already taken</p>
                        </div>
                      </div>
                      <div class="row mt-2">
                        <div class="col-md-6 col-lg-6 col-sm-12 mx-auto">
                          <button type="submit" class="btn-send mb-3" (click)="signUp()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading}"></i>Sign Up</button>
                     </div>
                     </div>
                     <div class="row mt-1">
                      <div class="col-md-1 col-lg-1 col-sm-12 col-12 mx-auto" style="text-align: center;">
                      <img src="../../../assets/img/google.png "  style="cursor: pointer;" (click)="authService.GoogleAuth()">
                      </div>
                   </div>
                   <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-12 mx-auto" style="text-align: center;">
                   <span style="font-size: 13px;padding: 0px 0px 0px 13px;" class="text-muted">Already have an account? <span style="color: #d9117d;cursor: pointer; font-weight: 800;" (click)="loginUser()">Login</span></span>
                    </div>
                 </div>
                  </div>
                </div>
              </div>
          </div>
          </form>
       </div>
     </div>
     <div class="col-lg-8 sect-right mob-hide">
       <div>
        <div class="centered">
          <h2 class="h2-size">Celebrate your events</h2>
          <p class="p-size">We provide perfect online events for you.</p>
        </div>
        <div class="desk_view">
          <div class="circle1">
            <img src="assets/img/circle1.png" />
          </div>
          <div class="first-img-slide">
            <img src="assets/img/banner-image06.png" />
          </div>
          <div class="circle2">
            <img src="assets/img/circle2.png" />
          </div>
          <div class="circle3">
            <img src="assets/img/circle3.png" />
          </div>
          <div class="circle4">
            <img src="assets/img/circle4.png" />
          </div>
          <div class="circle5">
            <img src="assets/img/circle5.png" />
          </div>
          <div class="thrid-img-slide">
            <img src="assets/img/banner-image07.png" />
          </div>
          <div class="circle6">
            <img src="assets/img/circle6.png" />
          </div>
          <div class="second-img-slide">
            <img src="assets/img/banner-image05.png" />
          </div>
          <div class="circle7">
            <img src="assets/img/circle7.png" />
          </div>
          <div class="circle8">
            <img src="assets/img/circle8.png" />
          </div>
          <div class="eight-img-slide">
            <img src="assets/img/banner-image02.png" />
          </div>

      </div>
       </div>


    </div>
   </div>

   <div class="modal fade payed-modal" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="col-lg-12 col-lg-12">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                <div class="payd-msg">
                  <p class="mt-4">
                     Successfully registered.</p>
                  <div class="row">
                    <div class="col-md-2 col-12"></div>
                    <div class="col-md-8 col-12">
                      <button class="f-btn-border-red" type="submit"  data-dismiss="modal" (click)="closeSignUpModal()" >OK</button>
                    </div>
                    <div class="col-md-2 col-12"></div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
