<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<form [formGroup]="signupForm">
  <!-- *ngIf="showaddress === true" -->
<div class="row mt-4 mb-4">
  <div class="col-lg-6 col-md-6 col-sm-12" >
      <div class="card card-user">

        <div class="card-body signup-card">
          <h3 class="signup-head">Sign Up</h3>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label class="signup-label text-muted">Name <i class="fa fa-pencil"></i></label>
                   <input type="text" class="form-control input-borderclr" placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && paymntfrm.name.errors }">
                  <div *ngIf="submitted && paymntfrm.name.errors" class="invalid-feedback">
                    <div *ngIf="paymntfrm.name.errors.required">This field is required</div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label class="signup-label text-muted">Email</label>
                  <input type="text" class="form-control input-borderclr" placeholder="Email" [email]="true" value=""formControlName="email" [ngClass]="{ 'is-invalid': submitted && paymntfrm.email.errors }">
                  <div *ngIf="submitted && paymntfrm.email.errors" class="invalid-feedback">
                    <div *ngIf="paymntfrm.email.errors.required">This field is required</div>
                    <div *ngIf="paymntfrm.email.errors.pattern">Please, Enter valid email.</div>

                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">

              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label class="signup-label text-muted" style="margin-left: 10px;">Phone Number</label>
                  <br>
                  <ngx-intl-tel-input [cssClass]="'custom'" [preferredCountries]="preferredCountries"
                  [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true"
                  [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                  [selectedCountryISO]="CountryISO.India" [maxLength]="15"
                  [phoneValidation]="true" [separateDialCode]="separateDialCode"
                  [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone" >
                </ngx-intl-tel-input>
                  <div *ngIf="signupForm.value.phone==null && submitted">
                    <div style="color: red;">This field is required</div>

                      </div>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label class="signup-label text-muted">Address</label>
                  <input type="text" class="form-control input-borderclr" placeholder="Address" value=""formControlName="address" [ngClass]="{ 'is-invalid': submitted && paymntfrm.address.errors }">
                  <div *ngIf="submitted && paymntfrm.address.errors" class="invalid-feedback">
                    <div *ngIf="paymntfrm.address.errors.required">This field is required</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">

              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label class="signup-label text-muted" style="margin-left: 10px;">Password</label>
                  <input type="{{showPassword ? 'text' : 'password' }}"  class="form-control form-control-sm input-borderclr" placeholder="Phone Number" value=""formControlName="password" [ngClass]="{ 'is-invalid': submitted && paymntfrm.password.errors }">
                  <a (click)="togglePassword()" class="eye-b">
                    <i class="{{showPassword ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                   </a>
                  <div *ngIf="submitted && paymntfrm.password.errors" class="invalid-feedback">
                    <div *ngIf="paymntfrm.password.errors.required">This field is required</div>
                  </div>

                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                  <label class="signup-label text-muted">Retype Password</label>
                  <input type="password" type="{{showPasswordRetype ? 'text' : 'password' }}" style="margin-left: 10px;" class="form-control input-borderclr" (input)="checkPassword()" placeholder="Address" value=""formControlName="retype_password" [ngClass]="{ 'is-invalid': submitted && paymntfrm.retype_password.errors }">
                  <a (click)="toggleRetypePassword()" class="eye-b">
                    <i class="{{showPasswordRetype ? 'fa fa-eye-slash' : 'fa fa-eye' }}"></i>
                   </a>
                  <div *ngIf="submitted && paymntfrm.retype_password.errors" class="invalid-feedback">
                    <div *ngIf="paymntfrm.retype_password.errors.required">This field is required</div>
                  </div>
                    <span style="color: red;" *ngIf="passwordcheck == true">Incorrect password</span>

                </div>
              </div>
              <span *ngIf="duplicatemailorphone" style="color: red;">Phone number or Email already taken</span>
            </div>
            <div class="row mt-4">
              <div class="col-md-4 col-lg-4 col-sm-12 mx-auto">
                <button type="submit" class="btn-send mb-3" (click)="signUp()"><i class="fa" [ngClass]="{'fa-spin fa-spinner': loading}"></i>Sign Up</button>
           </div>
           </div>
           <div class="row mt-3">
            <div class="col-md-1 col-lg-1 col-sm-12 col-12 mx-auto" style="text-align: center;">
            <img src="../../../assets/img/google.png">
            </div>
         </div>
         <div class="row mt-3">
          <div class="col-md-4 col-lg-4 col-sm-12 col-12 mx-auto" style="text-align: center;">
         <span style="font-size: 13px;padding: 0px 0px 0px 13px;" class="text-muted">Already have an account? <span style="color: #d9117d;cursor: pointer; font-weight: 800;" (click)="loginUser()">Login</span></span>
          </div>
       </div>
        </div>
      </div>
    </div>
</div>
</form>
 <!-- Message popup Modal -->
 <div class="modal fade payed-modal" id="successModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-lg-12 col-lg-12">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="payd-msg">
                <p class="mt-4">
                   Successfully registered.</p>
                <div class="row">
                  <div class="col-md-2 col-12"></div>
                  <div class="col-md-8 col-12">
                    <button class="f-btn-border-red" type="submit"  data-dismiss="modal" (click)="closeSignUpModal()" >OK</button>
                  </div>
                  <div class="col-md-2 col-12"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
