

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo">
        <a href="#default" class="logo"><img src="assets/img/logo.png" class=""></a>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li> <a class="active btn-home" href="#home">Home</a></li>
          <li><button type="button" class="btn btn-outline-primary btn-lg login-btn">Login</button>
          <li><button type="button" class="btn btn-primary btn-lg sign-up-btn" (click)="signUp()">Sign up</button></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section class="" style="padding: 30px 0px 5px 0px;">
    <div  id="hero" class="align-items-center">
      <div class="container position-relative"  data-aos-delay="100" style="transform: translateY(25%);">
        <div class="row ">
          <div class="col-xl-12 col-lg-6">
            <h1>Create</h1>
            <h1>your events</h1>
            <h2>We provide perfect online events for you</h2>
          </div>
        </div>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get started for free</a>
        </div>
  <div class="desk_view">
    <div class="first-img-slide">
      <img src="assets/img/banner-image02.png" />
    </div>

    <div class="second-img-slide">
      <img src="assets/img/banner-image05.png" />
    </div>

    <div class="thrid-img-slide">
      <img src="assets/img/banner-image07.png" />
    </div>

    <div class="four-img-slide">
      <img src="assets/img/banner-image06.png" />
    </div>
  </div>


        <div class="five-img-slide banner-mob">
          <img src="assets/img/banner-image01.png" />
        </div>

        <div class="row icon-boxes">


        </div>
      </div>
    </div>

    <div class="row baner-box" >
      <div class="container" >
        <!-- <div class="row div-shadow"> -->
          <div class="row div-shadow" style="padding: 14px;">
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4 col-4">
                  <img src="assets/img/event.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Create Event</h6>
                  <span  class="fnt-size text-muted">You can create your own events in one platform</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4 col-4">
                  <img src="assets/img/template.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Template</h6>
                  <span  class="fnt-size text-muted">Different kind of templates are available here</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div" style="border-right: none;">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-4 col-4">
                  <img src="assets/img/share.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Share</h6>
                  <span  class="fnt-size text-muted">Share your created events with your relatives and friends</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div" style="border-bottom: none;">
              <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-4 col-4">
                  <img src="assets/img/food.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Send Food</h6>
                  <span  class="fnt-size text-muted">Send food via online to your best one</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div" style="border-bottom: none;">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4 col-4">
                  <img src="assets/img/gifts.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Gift and Vouchers</h6>
                  <span  class="fnt-size text-muted">Send gift or vouchers via this platform</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-12 col-12 banner-div" style="border-bottom: none; border-right: none;">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4 col-4">
                  <img src="assets/img/videos.png" width="90" height="90">
                </div>
                <div class="col-lg-8 col-md-12 col-sm-8 col-8">
                  <h6 class="fnt-wght">Video Wish</h6>
                  <span class="fnt-size text-muted">Send video wish</span>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>
    </div>

  </section>

  <section id="faq" class="faq section-bg">

    <div class="container" data-aos="fade-up">
      <div class="">
        <h2 class="vision-h1 lineafterh1 txt-clr">Vision & Mission</h2>

        <p>Our mission and vision</p>
      </div>
      <div class="vision-box">
        <div class="row">

        <div class="col-lg-8 col-sm-12 col-12">
          <p>
            It’s true that the way in which a gift is given is as important as the gift itself. So why not make the occasion a memorable experience?
          </p>
          <p>
            preZenty is a unique and first of its kind online gift registry, ready to revolutionize the gifting landscape in India.
             preZenty is a service that offers to create your memorable event, invite and receive gifts from your loved ones,
             sending a piece of sweets to the gifted community directly from your computer or smartphone to your friends and
             family living in India. preZenty operates
            in around 25 consumption categories, including hospitality, retail, health and wellness, fashion and food among others.

          </p>

        </div>
        <div class=" hide-visionimg col-lg-4 col-md-4">
          <img src="assets/img/bg-vision&mission.png" class="vision-img">
        </div>
        </div>

          </div>
          </div>
          </section>
  <!-- ======= Team Section ======= -->
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="">
      <div class="row img-slider-box" >

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="col-12 ">
              <div class="slide-scheme">
                <img src="assets/img/add_ 02.png"  class="img-fluid img-new add-img ad-slider">
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide >
            <div class="col-12 " >
              <div class="slide-scheme">
                <img src="assets/img/add_ 01.png"  class="img-fluid img-new add-img ad-slider">
                </div>
            </div>
          </ng-template>

          <ng-template carouselSlide>
            <div class="col-12 ">
              <div class="slide-scheme">
                <img src="assets/img/add_ 03.png"  class="img-fluid img-new add-img ad-slider">
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-12 ">
              <div class="slide-scheme">
                <img src="assets/img/add_ 04.png"  class="img-fluid img-new add-img ad-slider">
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-12 ">
              <div class="slide-scheme">
                <img src="assets/img/add_ 05.png"  class="img-fluid img-new add-img ad-slider">
                </div>
            </div>
          </ng-template>
        </owl-carousel-o>

      </div>
    </section><!-- End Counts Section -->
  <main id="main">

  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-4 col-md-6  d-flex align-items-stretch " data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box iconbox-blue">
            <div class="icon">
              <img src="assets/img/live-support.png" class="evnt-items">

            </div>
            <h4 class="txt-clr txt-center">Live Support</h4>
            <p class="text-muted txt-center">We are providing live support at any time</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box iconbox-orange ">
            <div class="icon">
              <img src="assets/img/app-store.png" class="evnt-items">
            </div>
            <h4 class="txt-clr txt-center">App Stores</h4>
            <p class="text-muted txt-center">Our Event app available at any App store.
            Everyone can install and use it</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0 live-suportbox" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box iconbox-pink">
            <div class="icon">
              <img src="assets/img/manage-mobile-app.png" class="evnt-items">
            </div>
            <h4 class="txt-clr txt-center">Manage  on mobile</h4>
            <p class="text-muted txt-center">You can manage your Events on the go with the mobile app</p>
          </div>
        </div>


      </div>

    </div>
  </section><!-- End Sevices Section -->
    <!-- ======= About Video Section ======= -->
    <section id="about-video" class="about-video" style="background-color: #f8fbfe;">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100" style="position: relative; left: 0; top: 0;">
            <img src="assets/img/pattern.png" class="img-fluid fishes" alt="">
            <img src="assets/img/screen01.png" class="img-fluid fish" alt="">
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content virtual-event" data-aos="fade-left" data-aos-delay="100">
            <h2 class="vision-h1  txt-clr">Experience the Next level</h2>
              <h2 class="vision-h1  txt-clr lineafter">of Virtual events</h2>
            <p class="virtual_p text-muted">
              We at preZenty believe that every day is an occasion to make your dear one smile. We thrive to turn every small event into a
              memorable occasion therefore; we give you a trustworthy and convenient platform to to deliver the best gifts for your loved ones
            </p>
          </div>

        </div>
        <div class="row mt-5">
          <div class="col-lg-6 pt-3 pt-lg-0 content virtual-event" data-aos="fade-left" data-aos-delay="100">
            <h2 class="vision-h1 txt-clr">Simple, elegant</h2>
            <h2 class="lineafter vision-h1 txt-clr">and easy to use</h2>

            <p class="virtual_p text-muted">
              We provide users the ability to create one personalized registry for any gift-giving occasion including Weddings,
               Baby Showers, Birthdays, Graduations, Housewarmings, Anniversaries, Farewell and many more.
            </p>
          </div>
          <div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100" style="position: relative; left: 0; top: 0;">
            <img src="assets/img/pattern.png" class="img-fluid fishes" alt="">
            <img src="assets/img/screen02.png" class="img-fluid fish" alt="">
          </div>



        </div>
      </div>
    </section><!-- End About Video Section -->
  <!-- ======= Counts Section ======= -->
  <section id="counts" class="">
    <div class="row img-slider-box" >

      <owl-carousel-o [options]="customOptions1">

        <ng-template carouselSlide >
          <div class="col-12 " >
            <div class="slide-scheme">
              <img src="assets/img/video_001.png"  class="img-fluid img-new add-img ad-slider">
              </div>
          </div>
        </ng-template>

        <ng-template carouselSlide>
          <div class="col-12 ">
            <div class="slide-scheme">
              <img src="assets/img/video_001-1.png"  class="img-fluid img-new add-img ad-slider">
              </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="col-12 ">
            <div class="slide-scheme">
              <img src="assets/img/video_001-2.png"  class="img-fluid img-new add-img ad-slider">
              </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="col-12 ">
            <div class="slide-scheme">
              <img src="assets/img/video_001-3.png"  class="img-fluid img-new add-img ad-slider">
              </div>
          </div>
        </ng-template>
      </owl-carousel-o>

    </div>
  </section><!-- End Counts Section -->
  <!-- ======= Services Section ======= -->
  <section id="services " class="services section-bg">
    <div class="our-team" id="team-our">
      <h2 class="txt-clr vision-h1 lineafterh1 ">Our Team</h2>
      <p>Meet our team behind the work</p>
    </div>
    <div class="container  icon-box iconbox-blue team-hght" data-aos="fade-up" style="position: relative;">

      <img src="assets/img/our-team-bg.png" class="team-img1">
      <div class="row">
        <div class="col-lg-6  col-12 col-sm-12">
          <span class="text-muted">We've all been a part of that group project.You know the project where one person  take the lead ,
            leading some members to conclude their ideas are unwelcome, while a select few ride the others coattails.
          </span>
      </div>

    </div>
      <div class="row mt-2">
            <div class="col-lg-2  col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="member ">
                <div class="member-img">
                  <img src="assets/img/team_01.png" class="img-fluid team-img" alt="">
                </div>
                <div class="member-info">
                  <h4>Diya viswanath</h4>
                  <h6 class="teamname">President</h6>
                </div>
              </div>
        </div>
        <div class="col-lg-2 col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member ">
            <div class="member-img">
              <img src="assets/img/team_02.png"  class="img-fluid team-img" alt="">
            </div>
            <div class="member-info">
              <h4>Antony Mosses</h4>
              <h6 class="teamname">Team Lead</h6>
            </div>
          </div>
    </div>
    <div class="col-lg-2  col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="member ">
        <div class="member-img">
          <img  src="assets/img/team_08.png" class="img-fluid team-img" alt="">
        </div>
        <div class="member-info">
          <h4>Mario Jacob</h4>
          <h6 class="teamname">Project Manager</h6>
        </div>
      </div>
</div>
      </div>
      <div class="row mt-3">
        <div class="col-lg-2 col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member ">
            <div class="member-img">
              <img src="assets/img/team/team-4.jpg" class="img-fluid team-img" alt="">
            </div>
            <div class="member-info">
              <h4>Shivaram Mohan</h4>
              <h6 class="teamname">Backend Supporter</h6>
            </div>
          </div>
    </div>
    <div class="col-lg-2 col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="member ">
        <div class="member-img">
          <img  src="assets/img/team_07.png"  class="img-fluid team-img" alt="">
        </div>
        <div class="member-info">
          <h4>Edric Mars</h4>
          <h6 class="teamname">Project Co-ordinater</h6>
        </div>
      </div>
</div>
<div class="col-lg-2  col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
  <div class="member ">
    <div class="member-img">
      <img  src="assets/img/team_04.png"class="img-fluid team-img" alt="">
    </div>
    <div class="member-info">
      <h4>David Bonsai</h4>
      <h6 class="teamname">Backend Supporter</h6>
    </div>
  </div>
</div>
<div class="col-lg-2 col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
  <div class="member ">
    <div class="member-img">
      <img  src="assets/img/team_05.png" class="img-fluid team-img"  alt="">
    </div>
    <div class="member-info">
      <h4>Kilothima Far</h4>
      <h6 class="teamname">Backend Supporter</h6>
    </div>
  </div>
</div>
<div class="col-lg-2  col-sm-4 col-4 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
  <div class="member ">
    <div class="member-img">
      <img  src="assets/img/team_06.png"class="img-fluid team-img" alt="">
    </div>
    <div class="member-info">
      <h4>Kevin Wilson</h4>
      <h6 class="teamname">Project Manager</h6>
    </div>
  </div>
</div>
  </div>
    </div>
  </section><!-- End Sevices Section -->

  <section id="faq" class="faq section-bg">

    <div class="container" data-aos="fade-up" id="testimonial">
      <div class="testimonial-div">
        <h2 class="lineafterh1 vision-h1">Testimonial</h2>
        <p>What people are saying about us</p>
      </div>
      <div class="testimonial-box" style="margin-top: 72px;background-color: #d9117d;">
        <div class="row">
          <img src="assets/img/left-quote.png" style="width: 43px;
          height: 35px;">
        </div>
        <owl-carousel-o [options]="testimonialOption" >
          <ng-template carouselSlide>
            <div class="col-12 mt-3 ">
              <div class="slide-scheme" style="box-shadow:none;margin: 0px 0px 0px 0px;">
               <p style="color: white;">This is good App.This way very helpful for me to manage an event.I wish all the very best to this team</p>
                </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="col-12 mt-3 ">
              <div class="slide-scheme" style="box-shadow:none;margin: 0px 0px 0px 0px;">
               <p style="color: white;">This is good App.This way very helpful for me to manage an event.I wish all the very best to this team</p>
                </div>
            </div>
          </ng-template>
        </owl-carousel-o>
        <div class="row">
          <div class="col-lg-2" >
           <img src="assets/img/team_07.png" class="testimoni-img">
            </div>
            <div class="col-lg-1" style="color: white;font-size: 14px;" >
              <span>Markos</span><br>
              <span>Director</span>
            </div>
            <div class="col-lg-6">
              <div class="scheme-icon-left" (click)="previous()"><img src="assets/img/left-arrow.png" width="45px"></div>
              <div class="scheme-icon-right" (click)="next()"  ><img src="assets/img/right-arrow.png" width="45px"></div>
                  </div>
        </div>

         <!-- -->
          </div>
          <div>
            <img src="assets/img/testimonials-bg.png" class="testimonial-tableimg">
          </div>
          </div>
   </section>
  <!-- ======= Services Section ======= -->
  <!-- <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
          <div class="icon-box iconbox-blue">

          </div>
    </div>
  </section> -->
  <!-- End Sevices Section -->
    <!-- ======= Testimonials Section ======= -->

    <!-- End Testimonials Section -->

    <!-- ======= Services Section ======= -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up" id="partner">

        <div class="section-title" style="animation: false;">
          <h2 class="lineafterh1">Our Partners</h2>
          <p style="    float: left;
          ">Meet our partners,towards building communities</p>
        </div>

        <div class="row mx-auto">
         <div class="col-lg-4 col-md-4 col-sm-12  d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="100">
            <div class="member partners">
              <div class="member-img">
                <img src="assets/img/kalyan.png" class="img-fluid " alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-4  col-md-4 col-sm-12  d-flex align-items-stretch " data-aos="fade-up" data-aos-delay="200">
            <div class="member partners">
              <div class="member-img">
                <img src="assets/img/jose-alukkas.png" class="img-fluid " alt="">
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4 col-sm-12 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member partners">
              <div class="member-img">
                <img src="assets/img/josco.png" class="img-fluid " alt="">
              </div>

            </div>
          </div>



        </div>
        <div class="row" style="margin: 0 auto;">
          <div class=" col-lg-8 col-12 col-sm-12 text-center mx-auto align-self-center" >
            <div class="row ">
              <div class="col-lg-6 col-md-4  col-12 col-sm-12 align-items-stretch " data-aos="fade-up" data-aos-delay="100">
             <div class="member partners">
               <div class="member-img">
                 <img src="assets/img/malabar_720.png" class="img-fluid " alt="">
               </div>
             </div>
           </div>
           <div class="col-lg-6 col-12 col-md-4 col-sm-12 align-items-stretch " data-aos="fade-up" data-aos-delay="100">
            <div class="member partners">
              <div class="member-img">
                <img src="assets/img/chungath_720.png" class="img-fluid " alt="">
              </div>
            </div>
          </div>
           </div>
         </div>
      </div>

      </div>
    </section><!-- End Team Section -->
    <!-- End Sevices Section -->
    <section id="faq" class="faq section-bg">

      <div class="container" data-aos="fade-up">
        <div class="">
          <h2 class="lineafterh1 lineafterh1">Our History</h2>
          <p>Meet our team behind the work</p>
        </div>
        <div class="history-box">
                <p>
                  Sensing a gap and an opportunity in India and to transform people’s perception of gifts and revolutionize the gifting culture,
                   preZenty was founded by two friends,
                  Mr.Verghese and Mr.Aboobakar. It took its first steps in 2021 as a Bengaluru-based gift card (stored-value cards) technology company.
                  Sensing a gap and an opportunity in India and to transform people’s perception of gifts and revolutionize the gifting culture,
                  preZenty was founded by two friends,
                 Mr.Verghese and Mr.Aboobakar. It took its first steps in 2021 as a Bengaluru-based gift card (stored-value cards) technology company.
                </p>
            </div>
            </div>
     </section>

  </main><!-- End #main -->
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-3 col-md-3">
        <h1 style="color: white;font-weight: 900;" class="hwtoreachfont">How To Reach</h1>
        <span class="team-txt">Meet our team behind the work</span>
        </div>
        <div class="col-lg-3 col-md-3 team-txt">
          <span><img src="assets/img/location.png" class="contact-img"></span><br>
          <span class="mt-1">Cocoalabs India Pvt.Ltd</span><br>
          <span class="mt-2">Indeevaram Infopark ,Thrissur</span><br>
          <span>Koratti,Kerala 680308 </span>
          </div>
          <div class="col-lg-3 col-md-3 team-txt">
            <span><img src="assets/img/call.png" class="contact-img"></span><br>
            <span>+91 0487 297 0707</span><br>
            <span>+91 85 92011122</span><br>
            <span>+91 8593011122</span><br>
            </div>
            <div class="col-lg-3 col-md-3 team-txt">
              <span><img src="assets/img/website.png" class="contact-img" style="width: 32px;"></span><br>
              <span>info@cocoalabs.in</span><br>
              </div>
      </div>
      </div>
    </section>
    <!-- End Cta Section -->
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="">
        <div class="row">

          <div class="col-lg-3 footer-contact" style="text-align: end;">
           <img src="assets/img/logo-b&w.png" style="width: 185px;
           height: 50px;">
          </div>
          <div class="col-lg-1  footer-links">
            <h4 style="margin: 10px 0px 0px 12px;"><a href="#team-our">Our Team</a></h4>
          </div>
          <div class="col-lg-1 footer-links">
            <h4 style="margin: 10px 0px 0px 12px;"><a href="#testimonial">Testimonials </a></h4>
          </div>
          <div class="col-lg-2  footer-links">
            <h4 style="margin: 10px 0px 0px 14px;"><a href="#partner">Our Partners</a></h4>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter social-links ">
            <a href="https://twitter.com/" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://facebook.com/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://instagram.com/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="https://www.skype.com/en/" target="_blank" class="google-plus" ><i class="bx bxl-skype"></i></a>
            <img src="assets/img/up-arrow.png" class="up-arrows" (click)="gotoTop()">
          </div>
          <div class="col-lg-1 col-12 col-sm-12 footer-contact" style="border-left: 1px solid;" (click)="gotoTop()">
            <img src="assets/img/up-arrow.png" class="up-arrow"><a href="#faq"></a>
           </div>

        </div>
      </div>
    </div>
<hr>
    <div class="container py-4">

      <div class="row">
       <span style="text-align: center;">Copyright 2021 all rights reserved</span>
      </div>
    </div>
  </footer><!-- End Footer -->


<script>
    on('click', '.mobile-nav-toggle', function(e) {
    console.log("hhhhh")
    select('#navbar').classList.toggle('navbar-mobile')
    this.classList.toggle('bi-list')
    this.classList.toggle('bi-x')
  })
</script>

